button {
	background-color: rgba(0,100,255,0.9);
	color: rgb(225,196,225);
	border-radius: 16px;
	cursor: pointer;
	margin:4px;
	margin-right: 12px;
	margin-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	font-weight: bold;
	font-size: 16px;
	transition: background-color 0.5s, color 0.5s;
	border: 2px;
	border-style: inset;
	border-color: white;
}
		
button:hover {
	background-color: rgba(255, 0, 255, .5);
	color: red;
}
			
button:active {
	background-color: green;

}

header {
	border-bottom-width: 6px;
	border-bottom-style: solid;
    border-bottom-color: rgb(49, 121, 144);
	position: fixed;
	top: 0;
    	left:0;
    	right: 0;
    	z-index: 200;
	height: 36px;
	display: flex;
	flex-direction: row;
	flex:1;
	background-color: lightblue;
	opacity: 0.5;
	justify-content: right;
}

.div-profile {
	background: rgba(144, 225, 225, .5);
	vertical-align: top;
	display: inline-block;
	height: 710px;
	width: 350px;
	margin-left: 60px;
	margin-top: 42px;
	border: 1px;
	border-style: outset;
	border-color: white;
	border-radius: 49px;
}

.div-profile-photo {
	margin-top: 4px;
	display: inline-block;
	height: 310px;
	width: 350px;
}
.div-profile-info {
	vertical-align: top;
	display: inline-block;
	height: 300px;
	width: 350px;
	margin-top: 0px;
}
.div-main {
	vertical-align:top;
	display: inline-block;
	height: 710px;
	width: 900px;
	font-family: Verdana;
	font-size: 16px;
	line-height: 24px;
	margin-top: 50px;
	margin-left: 100px;
	color: white;
}
	
.thumbnail {
	width: 310px;
	height: 310px;
	object-fit: fit;
	border: 2px;
	border-style: outset;
	border-color: white;
	border-radius: 120px;
}

.logo {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin-top:0px;
	margin-bottom:0px;
	object-fit: cover;
	border: none;
}
body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
  background-color: rgb(36, 36, 9);
}
