@font-face {
	font-family: Roboto, Roboto-italic;
	src: url(Roboto/Roboto-Medium.ttf), url(Roboto/Roboto-BoldItalic.ttf);
}

body{
	width: 100%;
	height: calc(100vh - 60px);
  	background-color: #1e1e1e;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}

h1{
	text-align: center;
	font-size: 26px;
	line-height: 32px;
	color: #ffffff;
	font-family: Roboto;
	font-weight: 600;
	text-transform: uppercase;
}
hr {
	border: 2px solid #e74c3c;
	width: 100%;
	margin-top: 20px;
	align-self: center;
}

h2{
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-family: Roboto-italic;
	text-transform: uppercase;
}

h4{
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	font-family: Roboto;
}

p{
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	font-family: Roboto;
}

a{
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	word-spacing: 2px;
	text-decoration: underline;
	cursor: pointer;
}

.header-main{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	display: flex;
	justify-content: flex-end;
	column-gap: 20px;
	z-index: 1000;
}

.header-main-nav{
	width: fit-content;
	height:100%;
	display:flex;
	padding-right: 1rem;
}

.header-main-nav ul{
	list-style: none;
	margin-right: 10vh;
}
.header-main-nav ul li{
	display: inline;
	
}
.header-main-nav ul li a{
	padding: 0 10px;
	font-family: Roboto-italic;
	font-size: 16px;
	line-height: 60px;
	font-weight: 400;
	color: black;
	cursor: pointer;
}
a:hover{
	color: purple;
}
a:active{
	color: green;
}


.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .collapsible:hover {
	background-color: #555;
  }
  
  .collapsible:after {
	content: '\002B';
	color: #ceff33;
	font-weight: bold;
	font-size: 15px;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
	font-size: 15px;
	color: #ff5533;
  }
  
  .content {
	padding: 0 20px;
	max-height: 0;
	text-align: left;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
  }

.div-profile {
	margin-left: 10vw;
	position: absolute;
	width: 20vw;
	margin-top: 40px;
	height: calc(100vh - 60px);
	z-index: 500;
	display: flex;
	flex-direction: column;
}

.div-profile-photo {
	position: relative;
	width: 100%;
	align-content: center;
}
.div-profile-info {
	position: relative;
	width: 100%;
	font-family: Roboto, sans-serif;;
	line-height: 20px;
	font-weight: 300;
	text-align: center;
	color: #ffffff;
}

.div-main {
	position: relative;
	height: calc(100vh - 60px);
	width: 50vw;
	line-height: 20px;
	margin-top: 60px;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 16px;
	color: #ffffff;
	font-family: Roboto;
	text-align: center;
	justify-content: center;
	align-self: flex-end;
}

.div-main h2{
	text-align: center;
}
	
.thumbnail {
	width: 100%;
	border: 1px;
	border-style: outset;
	border-color: white;
	border-radius: 120px;
}

.logo {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin-top:0px;
	margin-bottom:0px;
	object-fit: cover;
	border: none;
}

.burger-menu, .burger-menu-btn{
	display:none;
}

@media only screen and (max-width:800px) {
	.burger-menu-btn{
		display:block;
		align-self: center;
		margin-right: 10px;
		width:50px;
		height:50px;
		background-image: url(img/burger-menu.png), url(img/close.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center, center left 50px;
		
	}

	.burger-menu{
		display: none;
		position:fixed;
		width:100%;
		height: 100vh;
		z-index: 900;
		background-color: #111;
		color: #ffffff;
		font-family: Roboto;
	}
	.burger-menu ul{
		width: 100%;
		height: calc(100vh - 60px);
		padding-top: 60px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.burger-menu ul li{
		flex-basis:100%;
		border-top: 5px solid #000;
	}
	.burger-menu ul li:last-child{
		border-bottom: 5px solid #000;
	}
	.burger-menu ul li a{
		display: block;
		height: 180%;
		font-size: 3rem;
		padding: 30px 0;
		flex-basis: 100%;
		text-align: center;
		color: white;
	}
	.header-main-nav {
		display: none;
	}

	body{
		position: relative;
		align-items: flex-end;
		flex-wrap: wrap;
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	
	.div-profile {
		width: 80%;
		margin-top: 20px;
		height: fit-content;
		position: relative;
		align-items: flex-end;
		flex-wrap: wrap;		
		display: flex;
		flex-direction: row;


	}
	.div-main {
		width: 80%;
		height: max-content;
		margin-top: 20px;
		position: relative;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;		
		display: flex;
		align-self: center;
		word-spacing: 2px;
	}

			
}
